img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.container {
    margin-left: 3rem;
    color: #e7dfda;
    display:grid;
    justify-content: center;
    padding-left: 70px;
    padding-bottom: 200px;
    padding-top: 4rem;
}

.container > h1 {
    font-size: 40px;
    padding-bottom: 3rem;
}

.container > h2 {
    font-size: 20px;
    width: 50%;
    height: 60px;
    display: inline;
}

input[type=range] {
    /* color:#a239ca; */
    
    background: #4717f6 !important;
    width: 100%;
    max-width: 90%;
    margin-left: 0;
    /* color: #e7dfda; */
}
input[type=range].styled-slider::-webkit-slider-runnable-track {
    color: #4717f6;
}

input[type=range] + datalist {
    display: block;
    margin-top: -4px;
    color: #e7dfda;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((90% - 12px) / (var(--list-length) - 1));
    text-align: center;
}
input[type=range] + datalist option:first-child {
    width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}
input[type=range] + datalist option:last-child {
    width: calc((90% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;
}

option{
    text-align: left;
    padding-right: 180px;
    padding-bottom: 30px;
}
