.table-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  object-fit: contain;
  padding: 2rem 13rem 8rem 13rem;
}

.table-container-header > span {
  color: #e7dfda;
  font-size: 20px;
}


table {
  background-color: rgba(255,255,255,0.5);
  font-size: 20px;
  border-radius: 10px;
  }

td {
  padding: 1rem 2rem;
    
  }